.contain-emoji .emoji-1 {
    font-size: 25px;
}
.contain-emoji .emoji-2 {
    font-size: 40px;
}
.contain-emoji .emoji-3 {
    font-size: 60px;
}
.contain-emoji .emoji-4 {
    font-size: 80px;
}
.contain-emoji .emoji-5 {
    font-size: 95px;
}
.contain-emoji .emoji-6 {
    font-size: 115px;
}
.contain-emoji .emoji-7 {
    font-size: 130px;
}
.contain-emoji .emoji-8 {
    font-size: 145px;
}
.contain-emoji .emoji-9 {
    font-size: 160px;
}
.contain-emoji .emoji-10 {
    font-size: 175px;
}
