.contain-temperature .list1  {
    width: 5rem;
    height: 3rem;
    background-color: #2E5EF3;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list2  {
    width: 5rem;
    height: 3rem;
    background-color:#3DADF6 ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list3  {
    width: 5rem;
    height: 3rem;
    background-color: #62BFFB ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list4  {
    width: 5rem;
    height: 3rem;
    background-color: #98D3FA ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list5  {
    width: 5rem;
    height: 3rem;
    background-color: #B1D7F0 ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list6  {
    width: 5rem;
    height: 3rem;
    background-color: #F1F2D2 ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list7  {
    width: 5rem;
    height: 3rem;
    background-color: #F3EC92 ;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list8  {
    width: 5rem;
    height: 3rem;
    background-color: #F5E958;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list9  {
    width: 5rem;
    height: 3rem;
    background-color: #EFC622;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list10  {
    width: 5rem;
    height: 3rem;
    background-color: #F36C29;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}
.contain-temperature .list11  {
    width: 5rem;
    height: 3rem;
    background-color: #EC2114;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
}